{% extends 'misc/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addPost</title>
</head>
<style>
    .flex-h {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-v {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContainerForm {
        height: 90vh;
        width: 90vw;
    }
</style>

<body style="background-color: blanchedalmond;">
    <br><br><br>
    <div class="mainContainerForm">

        <div class="flex-h">
            <div class="wid" style="border: 2px solid black; width: 10vh; height: 10vh;;
            padding: 14vh;
            width: 2rem;
            margin: 10vh; border-radius: 15px 50px; background-color: white;">
                <div class="addImage">
                    <!-- <input type="file" id="getFile"> -->
                    <button style="display:block; width: 10vw;  height: 4vh; margin-left: -5vw;"
                        onclick="document.getElementById('getFile').click()">Add Image/Certificate</button>
                    <input type='file' id="getFile" style="display:none">
                </div>
            </div>
            <div class="flex-v">
                Content <input type="text" style="height: 30vh; width: 45vw; border-radius: 2vh;
                ">
                Tags <input type="text" style="height: 10vh; width: 45vw; border-radius: 2vh;
                ">
            </div>

        </div>
        <input type="submit"
            style="display:block; width: 10vw;  height: 6vh; margin-left: 75vh; margin-top: 10vw; background-color: #0fe417; border-radius: 15px; "
            ; onclick="myFunction()">
    </div>
</body>

<script>
    function myFunction() {
        alert("You have uploaded Certificate Succesfully!");
    }
</script>

</html>
{% endblock %}